name: Publish package to GitHub Packages
on:
  release:
    types: [published]
jobs:
  buildForGitHubPackages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'
          # scope - Defaults to the user or organization that owns the workflow file
      - run: |
          npm version
          npm clean-install --verbose --ignore-scripts --no-audit
      - run: npm run build
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  buildForNpm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Change the organization for npm to @kubevirt-ui-ext
        run: jq '.name |= sub("@kubevirt-ui/";"@kubevirt-ui-ext/")' package.json > tmp.json && mv tmp.json package.json
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          scope: '@kubevirt-ui-ext'
        # Ensure npm 11.5.1 or later is installed
      - name: Update npm for Trusted Publishing
        run: npm install -g npm@latest
      - run: |
          npm version
          npm clean-install --verbose --ignore-scripts --no-audit
      - run: npm run build
      - run: npm publish --provenance --access public
